.Game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin: 2.5rem auto;
    width: 40%;
    height: 70vh;
    color: aqua;
    font-size: 8rem;
}

.Game-cell {
    border: solid 4px red;
    border-radius: 15px;
    width: 180px;
    height: 180px;
}
.Game-cell:hover{
    background-color:rgba(230, 230, 16, 0.932);
}
