* {
  box-sizing: border-box;
}
body {
  font-family: 'Silkscreen', cursive;
  margin: 20px;
  background-color: #1d1c1c;
  color:violet;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
